force-app/main/default/flows/Add_Mass_Work_Plan_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Both_Day_1_and_Final_Day_Work_Plan</name>
        <label>Add Both Day 1 and Final Day Work Plan</label>
        <locationX>1501</locationX>
        <locationY>1343</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Day1andfinaldayworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Both_Day_1_and_Final_Day_Work_Plan_0</name>
        <label>Add Both Day 1 and Final Day Work Plan</label>
        <locationX>310</locationX>
        <locationY>1207</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Adding_multiple_middle_day_work_plans_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Day1andfinaldayworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Day_1_Work_Plan</name>
        <label>Add Day 1 Work Plan</label>
        <locationX>864</locationX>
        <locationY>1348</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Day1workplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Final_Day_Work_Plan</name>
        <label>Add Final Day Work Plan</label>
        <locationX>1218</locationX>
        <locationY>1308</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Finaldayworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Final_Day_Work_Plan_0</name>
        <label>Add Final Day Work Plan</label>
        <locationX>651</locationX>
        <locationY>673</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Adding_multiple_middle_day_work_plans_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Finaldayworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Middlle_Day_Work_Plans</name>
        <label>Add Middlle Day Work Plans</label>
        <locationX>940</locationX>
        <locationY>1633</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Adding_multiple_middle_day_work_plans</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Middleworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Middlle_Day_Work_Plans_0</name>
        <label>Add Middlle Day Work Plans</label>
        <locationX>484</locationX>
        <locationY>1647</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Adding_multiple_middle_day_work_plans_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Middleworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Middlle_Day_Work_Plans_0_0</name>
        <label>Add Middlle Day Work Plans</label>
        <locationX>50</locationX>
        <locationY>694</locationY>
        <actionName>addWorkPlans</actionName>
        <actionType>addWorkPlans</actionType>
        <connector>
            <targetReference>Adding_multiple_middle_day_work_plans_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workPlanTemplateIdList</name>
            <value>
                <elementReference>Middleworkplantemplateid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addWorkPlans</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_midday_work_plans_in_the_collection_to_delete</name>
        <label>Adding midday work plans in the collection to delete</label>
        <locationX>2541</locationX>
        <locationY>2404</locationY>
        <assignmentItems>
            <assignToReference>Middaydayworkplanscollectiontodelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sort_middle_day_work_plans_from_the_end_of_the_collection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentIndexForDeletingMiddayLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_middle_day_work_plans_from_the_end_of_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_and_Count_number_of_day_1_work_plans</name>
        <label>Assign and Count number of day 1 work plans</label>
        <locationX>2783</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>Day1workplancollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_group_work_plans_based_on_their_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofDay1WorkPlans</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_group_work_plans_based_on_their_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_and_Count_number_of_final_day_work_plans</name>
        <label>Assign and Count number of final day work plans</label>
        <locationX>2628</locationX>
        <locationY>1318</locationY>
        <assignmentItems>
            <assignToReference>Finaldayworkplancollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_group_work_plans_based_on_their_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofFinalDayWorkPlan</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_group_work_plans_based_on_their_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_and_count_number_of_middle_day_work_plans</name>
        <label>Assign and count number of middle day work plans</label>
        <locationX>2352</locationX>
        <locationY>1276</locationY>
        <assignmentItems>
            <assignToReference>Middayworkplancollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_group_work_plans_based_on_their_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofMiddayWorkPlans</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_group_work_plans_based_on_their_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Plan_Template_Id</name>
        <label>Assign Work Plan Template Id</label>
        <locationX>2188</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>listOfWorkPlanTemplatedId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_list_of_Work_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Day1workplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_list_of_Work_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_list_of_Work_Plan_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Plan_Template_Id_0</name>
        <label>Assign Work Plan Template Id</label>
        <locationX>2489</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>listOfWorkPlanTemplatedId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_list_of_Work_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Middleworkplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_list_of_Work_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_list_of_Work_Plan_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Plan_Template_Id_0_0</name>
        <label>Assign Work Plan Template Id</label>
        <locationX>2404</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>listOfWorkPlanTemplatedId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_list_of_Work_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Finaldayworkplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_list_of_Work_Plan_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_list_of_Work_Plan_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_multiple_middle_day_workplan_template_ids_0</name>
        <label>Assigning multiple middle day workplan template ids</label>
        <locationX>321</locationX>
        <locationY>1565</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Middlle_Day_Work_Plans_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Defining_Start_index</name>
        <label>Defining Start index</label>
        <locationX>2219</locationX>
        <locationY>1959</locationY>
        <assignmentItems>
            <assignToReference>StartIndexforDeletingMiddayWorkplan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofMiddayWorkPlans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartIndexforDeletingMiddayWorkplan</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>NumberofWorkPlanstoDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_middle_day_work_plans_from_the_end_of_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increament_counter</name>
        <label>Increament counter</label>
        <locationX>698</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Middlle_Day_Work_Plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increament_counter_0</name>
        <label>Increament counter</label>
        <locationX>236</locationX>
        <locationY>742</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Middlle_Day_Work_Plans_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_current_index_for_midday_loop</name>
        <label>Increase current index for midday loop</label>
        <locationX>2459</locationX>
        <locationY>2017</locationY>
        <assignmentItems>
            <assignToReference>CurrentIndexForDeletingMiddayLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_middle_day_work_plans_from_the_end_of_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_work_plans_to_delete_when_deleting_final_day</name>
        <label>List of work plans to delete when deleting final day</label>
        <locationX>2012</locationX>
        <locationY>1378</locationY>
        <assignmentItems>
            <assignToReference>Collectionofworkplansincludingfinaldaytypeworkplan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Middayworkplancollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collectionofworkplansincludingfinaldaytypeworkplan</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Finaldayworkplancollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_final_day_type_work_plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_workplan_template_id_to_create_both_day_1_and_final_day</name>
        <label>List of workplan template id to create both day 1 and final day</label>
        <locationX>1469</locationX>
        <locationY>1170</locationY>
        <assignmentItems>
            <assignToReference>Day1andfinaldayworkplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Day1workplantemplateid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Day1andfinaldayworkplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Finaldayworkplantemplateid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Both_Day_1_and_Final_Day_Work_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_workplan_template_id_to_create_both_day_1_and_final_day_0</name>
        <label>List of workplan template id to create both day 1 and final day</label>
        <locationX>278</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>Day1andfinaldayworkplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Day1workplantemplateid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Day1andfinaldayworkplantemplateid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Finaldayworkplantemplateid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Both_Day_1_and_Final_Day_Work_Plan_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Midday_type_Workplans_Finally_deleted</name>
        <label>Number of Midday type Workplans Finally deleted</label>
        <locationX>1866</locationX>
        <locationY>2781</locationY>
        <assignmentItems>
            <assignToReference>MiddaytoDeleteCollectionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_the_number_of_element_in_MiddayTypeCollectiontodelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pick_Different_Created_Date_and_Last_Workstep_MidWorkPlans</name>
        <label>Pick Different Created Date and Last Workstep MidWorkPlans</label>
        <locationX>3081</locationX>
        <locationY>1869</locationY>
        <assignmentItems>
            <assignToReference>Middayworkplancollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_any_element_in_Midday_is_Last_Work_Step_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_the_workplans_with_work_step_updated_from_delete_list</name>
        <label>Remove the workplans with work step updated from delete list</label>
        <locationX>2218</locationX>
        <locationY>2512</locationY>
        <assignmentItems>
            <assignToReference>Middaydayworkplanscollectiontodelete</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Middayworkplancollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_middle_day_type_work_plans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sorted_Midworkplans_with_the_Different_Date_in_First_Positions</name>
        <label>Sorted Midworkplans with the Different Date in First Positions</label>
        <locationX>2722</locationX>
        <locationY>2101</locationY>
        <assignmentItems>
            <assignToReference>SortedMidworkPlansOrderedBySameDateAtLast</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Middayworkplancollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sorted_Midworkplans_with_the_Same_Date_in_Positions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sorted_Midworkplans_with_the_Same_Date_in_Positions</name>
        <label>Sorted Midworkplans with the Same Date in Positions</label>
        <locationX>2561</locationX>
        <locationY>1878</locationY>
        <assignmentItems>
            <assignToReference>SortedMidworkPlansOrderedBySameDateAtLast</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Defining_Start_index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_number_of_days_0_0</name>
        <label>Update number of days</label>
        <locationX>1402</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Get_Work_Order.Number_of_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_work_order_number_of_days_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_number_of_days_after_deleting_N_number_of_midday</name>
        <label>Update number of days after deleting N number of midday</label>
        <locationX>1695</locationX>
        <locationY>2449</locationY>
        <assignmentItems>
            <assignToReference>Get_Work_Order.Number_of_Days__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>MiddaytoDeleteCollectionCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_work_order_number_of_days_0_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Same Created Date and Last Workstep MidWorkPlans</label>
        <locationX>2963</locationX>
        <locationY>1694</locationY>
        <assignNextValueToReference>currentItem_Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Middayworkplancollection</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Pick_Different_Created_Date_and_Last_Workstep_MidWorkPlans</targetReference>
        </connector>
        <formula>{!IsCratedandLastUpdateSame} = TRUE</formula>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Adding_multiple_middle_day_work_plans</name>
        <label>Adding multiple middle day work plans</label>
        <locationX>499</locationX>
        <locationY>1314</locationY>
        <defaultConnector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_middle_work_plan_multiple_times</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Numberofworkplanstocreate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increament_counter</targetReference>
            </connector>
            <label>Add middle work plan multiple times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Adding_multiple_middle_day_work_plans_0</name>
        <label>Adding multiple middle day work plans</label>
        <locationX>221</locationX>
        <locationY>1417</locationY>
        <defaultConnector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_middle_work_plan_multiple_times_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Numberofmiddleworkplantocreate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_multiple_middle_day_workplan_template_ids_0</targetReference>
            </connector>
            <label>Add middle work plan multiple times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Adding_multiple_middle_day_work_plans_0_0</name>
        <label>Adding multiple middle day work plans</label>
        <locationX>405</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_middle_work_plan_multiple_times_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Numberofmiddleworkplantocreatewhenonlyday1exist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increament_counter_0</targetReference>
            </connector>
            <label>Add middle work plan multiple times</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_any_element_in_Midday_is_Last_Work_Step_Updated</name>
        <label>Check if any element in Midday is Last Work Step Updated</label>
        <locationX>2792</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Sorted_Midworkplans_with_the_Different_Date_in_First_Positions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Element_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Middayworkplancollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sorted_Midworkplans_with_the_Same_Date_in_Positions</targetReference>
            </connector>
            <label>No Element Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_which_work_plans_to_delete</name>
        <label>Decide which work plans to delete</label>
        <locationX>2220</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleting_middle_day_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_to_delete_all_midday_workplans_or_the_last_N_elements_of_collections</targetReference>
            </connector>
            <label>Deleting middle day type work plans</label>
        </rules>
        <rules>
            <name>Deleting_final_day_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_work_plans_to_delete_when_deleting_final_day</targetReference>
            </connector>
            <label>Deleting final day type work plans</label>
        </rules>
        <rules>
            <name>Deleting_day_1_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_day_1_type_work_plans</targetReference>
            </connector>
            <label>Deleting day 1 type work plans</label>
        </rules>
        <rules>
            <name>Deleting_middle_day_type_and_final_day_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_work_plans_to_delete_when_deleting_final_day</targetReference>
            </connector>
            <label>Deleting middle day type and final day type work plans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_which_work_plans_to_add_in_deleting_collection</name>
        <label>Decision for which work plans to add in deleting collection</label>
        <locationX>2566</locationX>
        <locationY>2214</locationY>
        <defaultConnector>
            <targetReference>Increase_current_index_for_midday_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_elements_to_collectionofmiddayworkplanstodelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentIndexForDeletingMiddayLoop</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>StartIndexforDeletingMiddayWorkplan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_midday_work_plans_in_the_collection_to_delete</targetReference>
            </connector>
            <label>Add elements to collectionofmiddayworkplanstodelete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_assign_work_plan_template_id_in_collection_list</name>
        <label>Decision to assign work plan template id in collection list</label>
        <locationX>2224</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_1_work_plan_template_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_list_of_Work_Plan_Template.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 1 Work Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Plan_Template_Id</targetReference>
            </connector>
            <label>Day 1 work plan template match</label>
        </rules>
        <rules>
            <name>Middle_day_work_plan_template_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_list_of_Work_Plan_Template.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Middle Day Work Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Plan_Template_Id_0</targetReference>
            </connector>
            <label>Middle day work plan template match</label>
        </rules>
        <rules>
            <name>Final_day_work_plan_template_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_list_of_Work_Plan_Template.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Day Work Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Plan_Template_Id_0_0</targetReference>
            </connector>
            <label>Final day work plan template match</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_to_create_work_plan_and_repeat_upto_the_number</name>
        <label>decision to create work plan and repeat upto the number</label>
        <locationX>951</locationX>
        <locationY>997</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_midday_work_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_multiple_middle_day_work_plans</targetReference>
            </connector>
            <label>Create midday work plan</label>
        </rules>
        <rules>
            <name>Create_day_1_work_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numberofworkplanstocreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Day_1_Work_Plan</targetReference>
            </connector>
            <label>Create day 1 work plan</label>
        </rules>
        <rules>
            <name>Create_final_day_work_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numberofworkplanstocreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Final_Day_Work_Plan</targetReference>
            </connector>
            <label>Create final day work plan</label>
        </rules>
        <rules>
            <name>Create_both_day_1_and_final_day_work_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numberofworkplanstocreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_workplan_template_id_to_create_both_day_1_and_final_day</targetReference>
            </connector>
            <label>Create both day 1 and final day work plan</label>
        </rules>
        <rules>
            <name>Create_all_types_of_work_plan_when_the_existing_number_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_of_workplan_template_id_to_create_both_day_1_and_final_day_0</targetReference>
            </connector>
            <label>Create all types of work plan when the existing number 0</label>
        </rules>
        <rules>
            <name>Create_midday_and_final_day_work_plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Order.Number_of_Days__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Final_Day_Work_Plan_0</targetReference>
            </connector>
            <label>Create midday and final day work plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_create_work_plan_or_delete_work_plan</name>
        <label>Decision to create work plan or delete work plan</label>
        <locationX>1753</locationX>
        <locationY>991</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Work_Order.Number_of_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_to_create_work_plan_and_repeat_upto_the_number</targetReference>
            </connector>
            <label>Create new work plans</label>
        </rules>
        <rules>
            <name>Delete_unnecessary_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Days</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Work_Order.Number_of_Days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_work_plan_records_of_work_order</targetReference>
            </connector>
            <label>Delete unnecessary work plans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_delete_all_midday_workplans_or_the_last_N_elements_of_collections</name>
        <label>Decision to delete all midday workplans or the last N elements of collections</label>
        <locationX>2215</locationX>
        <locationY>1690</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_all_midday_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofWorkPlanstoDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberofMiddayWorkPlans</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deleting_all_midday_work_plans</targetReference>
            </connector>
            <label>Delete all midday work plans</label>
        </rules>
        <rules>
            <name>Delete_last_N_elements_of_midday_workplans_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofMiddayWorkPlans</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NumberofWorkPlanstoDelete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans</targetReference>
            </connector>
            <label>Delete last N elements of midday workplans collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_plans_grouped_by_their_template_name</name>
        <label>Work plans grouped by their template name</label>
        <locationX>2790</locationX>
        <locationY>1057</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_1_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_group_work_plans_based_on_their_name.WorkPlanTemplate.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 1 Work Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_and_Count_number_of_day_1_work_plans</targetReference>
            </connector>
            <label>Day 1 type work plans</label>
        </rules>
        <rules>
            <name>Midday_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_group_work_plans_based_on_their_name.WorkPlanTemplate.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Middle Day Work Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_and_count_number_of_middle_day_work_plans</targetReference>
            </connector>
            <label>Midday type work plans</label>
        </rules>
        <rules>
            <name>Final_day_type_work_plans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_group_work_plans_based_on_their_name.WorkPlanTemplate.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Day Work Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_and_Count_number_of_final_day_work_plans</targetReference>
            </connector>
            <label>Final day type work plans</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsCratedandLastUpdateDifferent</name>
        <dataType>Boolean</dataType>
        <expression>OR( ({!currentItem_Filter_Different_Created_Date_and_Last_Workstep_MidWorkPlans.CreatedDate} + (1/86400)) &lt;&gt; {!currentItem_Filter_Different_Created_Date_and_Last_Workstep_MidWorkPlans.Last_Work_Step_Updated__c} , {!currentItem_Filter_Different_Created_Date_and_Last_Workstep_MidWorkPlans.CreatedDate} &lt;&gt; {!currentItem_Filter_Different_Created_Date_and_Last_Workstep_MidWorkPlans.Last_Work_Step_Updated__c} )</expression>
    </formulas>
    <formulas>
        <name>IsCratedandLastUpdateSame</name>
        <dataType>Boolean</dataType>
        <expression>OR( ({!currentItem_Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans.CreatedDate} + (1/86400))= {!currentItem_Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans.Last_Work_Step_Updated__c} , {!currentItem_Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans.CreatedDate} = {!currentItem_Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans.Last_Work_Step_Updated__c})</expression>
    </formulas>
    <formulas>
        <name>Numberofmiddleworkplantocreate</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Days} - {!Get_Work_Order.Number_of_Days__c} - 2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Numberofmiddleworkplantocreatewhenonlyday1exist</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Days} - 2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Numberofremainingworkplansafterdelete</name>
        <dataType>Number</dataType>
        <expression>( {!NumberofDay1WorkPlans} + {!NumberofMiddayWorkPlans} + {!NumberofFinalDayWorkPlan} ) - {!Number_of_Days}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Numberofworkplanstocreate</name>
        <dataType>Number</dataType>
        <expression>{!Number_of_Days}-{!Get_Work_Order.Number_of_Days__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NumberofWorkPlanstoDelete</name>
        <dataType>Number</dataType>
        <expression>{!Get_Work_Order.Number_of_Days__c}-{!Number_of_Days}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Add Mass Work Plan Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Mass Work Plan Flow</label>
    <loops>
        <name>Count_the_number_of_element_in_MiddayTypeCollectiontodelete</name>
        <label>Count the number of element in MiddayTypeCollectiontodelete</label>
        <locationX>1873</locationX>
        <locationY>2544</locationY>
        <collectionReference>Middaydayworkplanscollectiontodelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Number_of_Midday_type_Workplans_Finally_deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_number_of_days_after_deleting_N_number_of_midday</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_list_of_Work_Plan_Template</name>
        <label>Loop through list of Work Plan Template</label>
        <locationX>1545</locationX>
        <locationY>439</locationY>
        <collectionReference>Get_Work_Plan_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_to_assign_work_plan_template_id_in_collection_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Mass_Work_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_group_work_plans_based_on_their_name</name>
        <label>Loop to group work plans based on their name</label>
        <locationX>2221</locationX>
        <locationY>1175</locationY>
        <collectionReference>Get_work_plan_records_of_work_order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_plans_grouped_by_their_template_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decide_which_work_plans_to_delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sort_middle_day_work_plans_from_the_end_of_the_collection</name>
        <label>Sort middle day work plans from the end of the collection</label>
        <locationX>2260</locationX>
        <locationY>2261</locationY>
        <collectionReference>SortedMidworkPlansOrderedBySameDateAtLast</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_for_which_work_plans_to_add_in_deleting_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_the_workplans_with_work_step_updated_from_delete_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_day_1_type_work_plans</name>
        <label>Delete day 1 type work plans</label>
        <locationX>2776</locationX>
        <locationY>1534</locationY>
        <connector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </connector>
        <inputReference>Get_work_plan_records_of_work_order</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_final_day_type_work_plan</name>
        <label>Delete final day type work plan</label>
        <locationX>1833</locationX>
        <locationY>1484</locationY>
        <connector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </connector>
        <inputReference>Collectionofworkplansincludingfinaldaytypeworkplan</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_middle_day_type_work_plans</name>
        <label>Delete middle day type work plans</label>
        <locationX>1966</locationX>
        <locationY>2281</locationY>
        <connector>
            <targetReference>Count_the_number_of_element_in_MiddayTypeCollectiontodelete</targetReference>
        </connector>
        <inputReference>Middaydayworkplanscollectiontodelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Deleting_all_midday_work_plans</name>
        <label>Deleting all midday work plans</label>
        <locationX>2053</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>Update_number_of_days_0_0</targetReference>
        </connector>
        <inputReference>Middayworkplancollection</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1792</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Plan_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_work_plan_records_of_work_order</name>
        <label>Get work plan records of work order</label>
        <locationX>2229</locationX>
        <locationY>982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_group_work_plans_based_on_their_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlan</object>
        <sortField>Last_Work_Step_Updated__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Plan_Template</name>
        <label>Get Work Plan Template</label>
        <locationX>1792</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_list_of_Work_Plan_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_work_order_number_of_days_0_0</name>
        <label>Update work order number of days</label>
        <locationX>1405</locationX>
        <locationY>2752</locationY>
        <inputReference>Get_Work_Order</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Mass_Work_Plan</name>
        <label>Add Mass Work Plan</label>
        <locationX>1762</locationX>
        <locationY>711</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_to_create_work_plan_or_delete_work_plan</targetReference>
        </connector>
        <fields>
            <name>Number_of_Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Work_Order.Number_of_Days__c</elementReference>
            </defaultValue>
            <fieldText>Number of Days</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1666</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collectionofworkplansincludingfinaldaytypeworkplan</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentIndexForDeletingMiddayLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Different_Created_Date_and_Last_Workstep_MidWorkPlans</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Same_Created_Date_and_Last_Workstep_MidWorkPlans</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Same_Created_Date_and_Last_Workstep_Update_Date_MidWorkPlans</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_the_work_step_completed_wps_from_Middaytodelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>Day1andfinaldayworkplantemplateid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Day1workplancollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>Day1workplantemplateid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Finaldayworkplancollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>Finaldayworkplantemplateid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfWorkPlanTemplatedId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfWorkPlanWithSameCreatedDateAndLastWorkStepUpdatedDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>Middaydayworkplanscollectiontodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>MiddaytoDeleteCollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Middayworkplancollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>Middleworkplantemplateid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofDay1WorkPlans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofFinalDayWorkPlan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberofMiddayWorkPlans</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SortedMidworkPlansOrderedBySameDateAtLast</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkPlan</objectType>
    </variables>
    <variables>
        <name>StartIndexforDeletingMiddayWorkplan</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkPlanIdsFromApexActionReturn</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
